<div class="loader-box" ng-if="loader" >
    <div class="loader-title">
        Przetwarzanie
    </div>
    <div class="loader" id="loader-2">
        <span></span>
        <span></span>
        <span></span>
    </div>

</div>
<div class="visualizer-box" ng-if="!loader">
    <div class="row">
        <div class="col-xs-2">
            <button ng-click="redirect()" class="btn btn-primary btn-block btn-flat btn-return">Powrót</button>
        </div>
    </div>
    <div class="visualizer" id="wordNetwork"/>
</div>
