<div class="loader-box" ng-if="loader" >
    <div class="loader-title">
        Przetwarzanie
    </div>
    <div class="loader" id="loader-2">
        <span></span>
        <span></span>
        <span></span>
    </div>

</div>
<div class="visualizer-box" ng-if="!loader">
    <div class="row">
        <div class="visualizer" id="wordNetwork"/>      
    </div>
    <div class="row flex-container footer">
        <div class="flex-column-container col-xs-2">
            <span class="title"><b>Word</b>APP</span>
            <div class="flex-container">
                <div>
                    <span class="text-center">Pobierz łączniki zdań: </span>
                </div>
                <div class="btn-group" role="group" aria-label="...">
                    <button ng-click="getWordDataWithConnectors()" type="button" class="btn btn-primary btn-flat">Tak</button>
                    <button ng-click="getWordDataWithoutConnectors()" type="button" class="btn btn-primary btn-flat">Nie</button>
                </div>
            </div>
            <button ng-click="redirect()" class="btn btn-primary btn-block btn-flat">Powrót</button>
        </div>
        <div class="details-container">
            <div>
                <span class="header">
                    Szczegóły:
                </span>
            </div>
            <div class="margin-top-small">
                <span>
                    Grupa: {{nodeGroup}}
                </span>
            </div>
            <div class="margin-top-small">
                <span>
                    Nazwa: {{name}}
                </span>
            </div>
            <div class="margin-top-small">
                <a href="http://plwordnet.pwr.wroc.pl/wordnet/" target="_blank">
                    Link do opisu
                </a>
            </div>
        </div>
        <div class="chart-container">        
            <canvas id="bar" class="chart chart-bar"
              chart-data="data" chart-click="onChartClick" chart-labels="labels" chart-options="options" chart-series="series">
            </canvas
        </div>
    </div>
</div>

