<div class="input-box">
    <div class="input-title">
        <b>Word</b>APP
    </div>
    <div class="input-box-body">
        <p class="input-box-msg">
            Wprowadź tekst do analizy...
        </p>
        <div class="form-group">
            <textarea ng-model="textToSubmit" class="form-control"></textarea>
        </div>
        <div class="row">
            <div class="col-xs-offset-8 col-xs-4">
                <button ng-click="submit()" class="btn btn-primary btn-block btn-flat">Analizuj</button>
            </div>
        </div>
    </div>
</div>